[mysql]
default-character-set=utf8mb4

[client]
default-character-set=utf8mb4
port=3306

[mysqldump]
quick
max_allowed_packet=2M

[mysqld]

log_error=/var/lib/mysql/error.log
server_id=0
slow-query-log-file=/var/lib/mysql/slow-query.log
slow_query_log=on
log-output=1
general-log=1
general-log-file=/logs/mysql.log
default-time-zone='+8:00'

# 基本设置
port=3306
basedir="C:/Program Files/MySQL/MySQL Server 8.0/"
datadir="C:/ProgramData/MySQL/MySQL Server 8.0/Data/"
character-set-server=utf8mb4
collation-server=utf8mb4_unicode_ci
default-storage-engine=INNODB
sql-mode="STRICT_TRANS_TABLES,NO_ENGINE_SUBSTITUTION"

# 连接设置
max_connections=200
max_connect_errors=10
wait_timeout=28800
interactive_timeout=28800

# 内存设置
key_buffer_size=256M
max_allowed_packet=64M
sort_buffer_size=4M
read_buffer_size=2M
read_rnd_buffer_size=4M
join_buffer_size=4M
thread_cache_size=8

# InnoDB 设置
innodb_buffer_pool_size=2G
innodb_log_file_size=256M
innodb_log_buffer_size=8M
innodb_flush_log_at_trx_commit=1
innodb_lock_wait_timeout=50
innodb_file_per_table=1

# 日志设置
log-error="mysql-error.log"
slow_query_log=1
slow_query_log_file="mysql-slow.log"
long_query_time=2
log_queries_not_using_indexes=1

# 二进制日志
server-id=1
log-bin=/var/lib/mysql/binlog
log-bin-index=/var/lib/mysql/binlog.index
binlog_format=ROW
expire_logs_days=7
max_binlog_size=100M

# 其他设置
skip-name-resolve
lower_case_table_names=1

# relay_log=/var/lib/mysql/relaylog
# binlog-do-db=
# binlog-ignore-db=
# sql_mode=
# external-locking=FALSE
# table_cache=614K
# open_files_limit=1024
# skip-locking
# log-queries-not-using-indexes
# log-long-format
# binlog_cache_size=4M
# max_binlog_cache_size=4294967296
# binlog_expire_logs_seconds=604800
# bulk_insert_buffer_size=8M
# innodb_additional_mem_pool_size=4M
# innodb_data_file_path=ibdata1:128M:autoextend
# innodb_file_io_threads=4
# innodb_thread_concurrency=8
# innodb_log_files_in_group=3
# innodb_max_dirty_pages_pct=90
