[mysql]
default-character-set=utf8mb4

[client]
default-character-set=utf8mb4
port=3306

[mysqldump]
quick
max_allowed_packet=2M

[mysqld]
port=3306
character-set-server=utf8mb4
default-storage-engine=INNODB
max_connections=2000
log-bin=/var/lib/mysql/binlog
log-bin-index=/var/lib/mysql/binlog.index
log_error=/var/lib/mysql/error.log
max_allowed_packet=60m
server_id=0
max_connect_errors=3
slow-query-log-file=/var/lib/mysql/slow-query.log
long_query_time=3
slow_query_log=on
log-output=1
general-log=1
general-log-file=/logs/mysql.log
default-time-zone='+8:00'

# basedir=/opt/mysql
# datadir=/opt/mysql/data
# relay_log=/var/lib/mysql/relaylog
# binlog-do-db=
# binlog-ignore-db=
# sql_mode=
# lower_case_table_names=1
# external-locking=FALSE
# sort_buffer_size=1M
# table_cache=614K
# wait_timeout=60
# open_files_limit=1024
# skip-locking
# join_buffer_size=8M
# log-queries-not-using-indexes
# log-long-format
# binlog_cache_size=4M
# max_binlog_cache_size=4294967296
# max_binlog_size=1G
# binlog_expire_logs_seconds=604800
# key_buffer_size=256M
# read_buffer_size=4M
# read_rnd_buffer_size=16M
# bulk_insert_buffer_size=8M
# innodb_additional_mem_pool_size=4M
# innodb_buffer_pool_size=4M
# innodb_data_file_path=ibdata1:128M:autoextend
# innodb_file_io_threads=4
# innodb_thread_concurrency=8
# innodb_flush_log_at_trx_commit=1
# innodb_log_buffer_size=2M
# innodb_log_file_size=32M
# innodb_log_files_in_group=3
# innodb_max_dirty_pages_pct=90
# innodb_lock_wait_timeout=120
# innodb_file_per_table=0
